.loc-details {
  height: 100%;
}
.loc-details .top {
    display: flex;
    
    h3.ui.header {
      margin-bottom: 5px;
    }
}

  .details-graph-header {
    display: flex;
    align-items: center;
  
    .icon-container {
      display: flex;
      align-items: flex-start;
  
      i.icon:only-child {
        margin-right: 0;
      }
    }
  }

.ui.responsive {
  width: 50%;
}

.graph-container {
  height: 70%;
}