.databox {
    display: block;
    position: absolute !important;
    top: 230px;
    left: 10px;
    bottom: auto;
    width: 35%;
    padding: 10px !important;
    height: 55%;
    max-height: 60%;
    border-radius: 1rem !important;
    background-color: white !important;

    @media only screen and (max-width: 767px) {
      width: 70%;
      height: 50%;
    }
  }

  .inner-databox {
    overflow-x: hidden;
    height: 100%;
  }

  h3 {
    margin-top: 10px;
  }

  .ui.checkbox {
    margin-right: 10px;
  }
