.ui.button.mobile-data-box-control {
    float: right;
    margin-right: 0;
    margin-top: -21px;
  }

.configbox {
    display: block;
    position: absolute !important;
    top: 10px;
    left: 10px;
    bottom: auto;
    width: 500px;
    padding: 10px !important;
    height: 200px;
    border-radius: 1rem !important;
  
    h1 {
      padding: 5px;
      float: left;
    }
  
    .ui.mini.icon.input .date-input {
      width: 80%
    }
  
    @media only screen and (max-width: 767px) {
      width: 90%;
      height: 180px;
    }
  }